html,
body {
  height: 100vh;
  min-height: 100vh;
  font-family: Arial;
}

.user_label {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  color: #50C878;
}

.room_label {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  color: #50C878;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.chat_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  
}

.chat_app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 100vh;
}

.left_sidebar {
  align-items: center;
  padding: 40px 80px;
}

.chat_area {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  background-color:#50C878;
}

.right_sidebar {
   padding: 40px 80px;
}

.avatar_profile {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 10px 0;
}

.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
}

.active_users_list {
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.active_rooms_list {
  display: flex;
  flex-direction: column;
  flex: 100;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.chat_bg {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 1px; 
  border-radius: 20px;
  width: 100%;
}

.chat {
  flex: 100;
  height: 1px; 
  padding: 20px;
  overflow-y: auto;
}

.chat_input {
 text-align: center;
  margin: 10px;
  padding: 10px;
}

.send_message_btn {
  background-color: #000000;
  cursor: pointer;
  border: 0;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.room_add_icon_holder {
  background-color: #020202;
  color: #fff;
  font-weight: 200;
  font-size: 17px;
}

